@{
	ViewData["Title"] = "Учебные заведения";	
    Layout = "~/Views/Institution/_InstitutionLayout.cshtml";
}

@model Dotnet.ViewModels.Institution.InstitutionViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Institution" asp-action="AddInstitution">
			<i class="bi bi-plus-circle mr-2"></i>Добавить учебное заведение
		</a>
	</ul>
</div>
<div>
	@for (int i = 0; i < ViewBag.allInstitutions.Count; i++ )
	{
		<div class="card mb-2">
			<div class="card-body overflow-auto">
				<h6 class="card-title ">@ViewBag.allInstitutions[i].Name</h6>
				<table class="table table-sm table-hover mb-0">
					<thead>
						<tr class="text-align-top">
							<td scope="col">ID</td>
							<td scope="col">Адрес</td>
							<td scope="col">Контактная информация</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@ViewBag.allInstitutions[i].Id</td>
							<td>@ViewBag.allInstitutions[i].AddressId</td>
							<td>@ViewBag.allInstitutions[i].ContactInformationId</td>
						</tr>
					</tbody>
				</table>
				@if (User.IsInRole("admin"))
				{
					<a class="btn btn-sm btn-light btn-block" asp-action="EditInstitution" asp-route-institutionId="@ViewBag.allInstitutions[i].Id">
						<i class="bi bi-pencil-square mr-2"></i>Редактировать
					</a>
				}
			</div>
		</div>
	}
</div>