@{
	ViewData["Title"] = "Факультеты";	
    Layout = "~/Views/Faculty/_FacultyLayout.cshtml";
}

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>		
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Faculty" asp-action="AddFaculty">
			<i class="bi bi-plus-circle mr-2"></i> Добавить Факультет
		</a>
	</ul>
</div>
<div>
	@foreach (var institution in ViewBag.allInstitutions)
	{
		<div class="shadow-sm card p-3 mb-2 bg-white rounded">
			<h6 class="mb-0">Учебное заведение - @institution.Name</h6>
		</div>
		@foreach (var faculty in ViewBag.allFaculties)
		{
			@if (faculty.InstitutionId == institution.Id) 
			{
				<div class="card mb-2">
					<div class="card-body overflow-auto">
						<h6 class="card-title">@faculty.Name, @faculty.Code</h6>
						<table class="table table-hover mb-0">
							<thead>
								<tr class="text-align-top">
									<td scope="col">ID</td>
									<td scope="col">Учебное заведение</td>
									<td scope="col">Описание</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>@faculty.Id</td>
									<td>@institution.Name</td>
									@if (faculty.About == null)
									{
										<td>Отсутствует</td>
									}
									else
									{
										<td>@faculty.About</td>
									}
								</tr>
							</tbody>
						</table>
						@if (User.IsInRole("admin"))
						{
							<a class="btn btn-light btn-block" asp-action="EditFaculty" asp-route-facultyId="@faculty.Id">
								<i class="bi bi-pencil-square mr-2"></i>Редактировать
							</a>
						}
					</div>
				</div>
			}
		}
	}
</div>