@{
	ViewData["Title"] = "Пользователи";
    Layout = "~/Views/User/_UserLayout.cshtml";
}

@* @model Dotnet.ViewModels.ProfileModel *@
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
	</ul>
</div>
<div>
	<div class="shadow-sm card p-3 mb-2 bg-white rounded">
		<h6 class="mt-0">Досупные для учётных записей роли</h6>
		<ul class="mb-0">
			<li>admin - главный администратор;</li>
			<!--<li>systemAdmin - системный администратор;</li>
			<li>humanResources - специалист отдела кадров;</li>
			<li>trainingDivision - специалист учебного отдела;</li>
			<li>authorArticles - автор информационных рассылок и создатеть новостных статей;</li>-->
			<li>teacher - преподаватель;</li>
			<!--<li>enrolle - абитуриент;</li>
			<li>graduate - выпускник;</li>-->
			<li>student - студент;</li>
			<li>user - пользователь.</li>
		</ul>
	</div>

	@foreach (var role in ViewBag.allRoles)
	{
		<div class="shadow-sm card p-3 mb-2 bg-white rounded">			
			<h6 class="mb-0">Роль - @role.Name</h6>
		</div>
		@foreach (var usersInRole in ViewBag.allUsers)
		{
			@foreach (var user in usersInRole)
			{
				@if (role.Id == user.RoleId)
				{
					<div class="card mb-2">
						<div class="card-body overflow-auto">
							<h6 class="card-title">(@user.Login) @user.FirstName @user.MiddleName @user.SecondName</h6>
							<table class="table table-sm table-hover mb-0">
								<thead>
									<tr class="text-align-top">
										<td scope="col">ID</td>
										<td scope="col">Роль</td>
										<td scope="col">Дата рождения</td>
										<td scope="col">Момент регистрации</td>
										<td scope="col">E-Mail</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										@{ DateTime dtBth = Convert.ToDateTime(@user.DateOfBirth); }
										<td>@user.Id</td>
										<td>@role.Name</td>
										<td>@dtBth.ToString("dd.MM.yyyy")</td>
										<td>@user.DateAdded</td>
										<td>
											@if (User.IsInRole("admin")) 
											{
												@user.Email 
											} 
											else 
											{ 
												<p>Скрыто</p>
											}
										</td>
									</tr>
								</tbody>
							</table>
							@if (User.IsInRole("admin"))
							{
								<a class="btn btn-sm btn-light btn-block" asp-action="EditUser" asp-route-userId="@user.Id">
									<i class="bi bi-pencil-square mr-2"></i>Редактировать
								</a>
							}
						</div>
					</div>
				}
			}
		}
	}
</div>