@{
	ViewData["Title"] = "Список преподавателей";	
    Layout = "~/Views/Teacher/_TeacherLayout.cshtml";
}

@model Dotnet.ViewModels.TeacherModel

<div class="col-sm-4">
	<ul class="list-group mb-4">
		<div class="list-group-item">Приложение</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-gear-wide-connected mr-2"></i>Настройки приложения
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-arrow-repeat mr-2"></i>Резервное копирование
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-card-list mr-2"></i>Сводка
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Пользователи</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="" asp-action="">
			<i class="bi bi-person-plus-fill mr-2"></i>Добавить пользователя
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-person-lines-fill mr-2"></i>Список пользователей
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Преподаватели</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-person-plus-fill mr-2"></i>Добавить преподавателя	
		</a>
		<a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-person-lines-fill mr-2"></i>Список преподавателей
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Учебные группы</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить группу или подгруппу	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-people mr-2"></i>Список групп
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-people mr-2"></i>Список подгрупп
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Учебные предметы</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить учебный предмет	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список учебных предметов
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Специальности</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить специальность	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список специальностей
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Формы обучения</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить форму обучения	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список форм обучения
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Виды работ</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить вид работы
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список видов работ
		</a>
	</ul>
</div>
<div class="col-sm-8">
	@for (int i = 0; i < ViewBag.allTeachers.Count; i++ )
	{
		<div class="card mb-2">
			<div class="card-body overflow-auto">
				<h6 class="card-title ">(@ViewBag.allUsers[i][0].Login) @ViewBag.allUsers[i][0].FirstName @ViewBag.allUsers[i][0].MiddleName @ViewBag.allUsers[i][0].SecondName</h6>
				<table class="table table-hover mb-0">
					<thead>
						<tr class="text-align-top">
							<td scope="col">ID</td>
							<td scope="col">Должность</td>
							<td scope="col">Специализация</td>
							<td scope="col">Дата рождения</td>
							<td scope="col">Момент регистрации</td>
							<td scope="col">E-Mail</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							@{ DateTime dtBth = Convert.ToDateTime(@ViewBag.allUsers[i][0].DateOfBirth); }
							<td>@ViewBag.allUsers[i][0].Id</td>
							<td>@ViewBag.allTeachers[i].Post</td>
							<td>@ViewBag.allTeachers[i].Specialization</td>
							<td>@dtBth.ToString("dd.MM.yyyy")</td>
							<td>@ViewBag.allUsers[i][0].DateAdded</td>
							<td>@ViewBag.allUsers[i][0].Email</td>
						</tr>
					</tbody>
				</table>
				@if (User.IsInRole("admin"))
				{
					<a class="btn btn-light btn-block" asp-action="EditTeacher" asp-route-teacherId="@ViewBag.allUsers[i][0].Id">
						<i class="bi bi-pencil-square mr-2"></i>Редактировать
					</a>
				}
			</div>
		</div>
	}
</div>