@{
	ViewData["Title"] = "Добавить группу или подгруппу";	
    Layout = "~/Views/StudyGroup/_StudyGroupLayout.cshtml";
}

@model Dotnet.ViewModels.StudyGroup.StudyGroupAndSubgroupViewModel

<div class="col-sm-4">
	<ul class="list-group mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="StudyGroup" asp-action="StudyGroups">
			<i class="bi bi-person-lines-fill mr-2"></i>Учебные группы
		</a>
	</ul>
</div>
<div class="col-sm-8">
	<div class="shadow-sm card p-3 mb-2 bg-white rounded">					
		<h6 class="mb-0">Добавление учебной группы</h6>
	</div>	
	<form asp-action="CreateStudyGroup" asp-controller="StudyGroup" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<div class="form-group">
				<label asp-for="StudyGroupViewModel.Name">Название <span>*</span></label>
				<input type="text" asp-for="StudyGroupViewModel.Name" class="form-control" />
				<span asp-validation-for="StudyGroupViewModel.Name" />
			</div>
			<div class="form-group">
				<label asp-for="StudyGroupViewModel.Code">Код</label>
				<input type="text" asp-for="StudyGroupViewModel.Code" class="form-control" />
				<span asp-validation-for="StudyGroupViewModel.Code" />
			</div>
			<div class="form-group">
				<label asp-for="StudyGroupViewModel.SpecialtyId">Специальность <span>*</span></label>
				<select asp-for="StudyGroupViewModel.SpecialtyId" class="form-control" required>
					@if (ViewBag.specialties.Count > 0)
					{
						@foreach (var specialty in ViewBag.specialties)
						{
							@foreach (var faculty in ViewBag.faculties)
							{
								@if (specialty.FacultyId == faculty.Id)
								{
									@foreach (var institution in ViewBag.institutions)
									{
										@if (faculty.InstitutionId == institution.Id)
										{
											<option value=@specialty.Id>@specialty.Name (@specialty.Code) - @faculty.Name (@faculty.Code) - @institution.Name</option>
										}
									}
								}
							}
						}
					}
					else
					{
						<option>Нет доступных специальностей</option>
					}
				</select>
				<span asp-validation-for="StudyGroupViewModel.SpecialtyId" />
			</div>
			<div class="form-group">
				<label asp-for="StudyGroupViewModel.FormEducationId">Форма обучения <span>*</span></label>
				<select asp-for="StudyGroupViewModel.FormEducationId" class="form-control">
					@if (ViewBag.formsEducation.Count > 0)
					{
						@foreach (var formEducation in ViewBag.formsEducation)
						{
							<option value=@formEducation.Id>@formEducation.Name</option>
						}
					}
					else
					{
						<option>Нет доступных форм обучения</option>
					}
				</select>
				<span asp-validation-for="StudyGroupViewModel.FormEducationId" />
			</div>
			<div class="form-group">
				<label asp-for="StudyGroupViewModel.DateStart">Дата начала обучения <span>*</span></label>
				<input type="date" asp-for="StudyGroupViewModel.DateStart" class="form-control" />
				<span asp-validation-for="StudyGroupViewModel.DateStart" />
			</div>
			<div class="form-group">
				<label asp-for="StudyGroupViewModel.DateEnd">Дата окончания обучения <span>*</span></label>
				<input type="date" asp-for="StudyGroupViewModel.DateEnd" class="form-control" />
				<span asp-validation-for="StudyGroupViewModel.DateEnd" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-plus-circle mr-2"></i>Добавить группу
				</button>
			</div>
		</div>
	</form>
	<div class="shadow-sm card p-3 mb-2 bg-white rounded">					
		<h6>Добавление учебной подгруппы</h6>
		<p class="mb-0">Подгруппу возможно добавить только к ранее созданной группе</p>
	</div>	
	<form asp-action="CreateStudySubgroup" asp-controller="StudyGroup" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<div class="form-group">
				<label asp-for="StudySubgroupViewModel.StudyGroupId">Учебная группа <span>*</span></label>
				<select asp-for="StudySubgroupViewModel.StudyGroupId" class="form-control" required>
					@if (ViewBag.specialties.Count > 0)
					{
						@foreach (var studyGroup in ViewBag.studyGroups)
						{
							@foreach (var specialty in ViewBag.specialties)
							{
								@if (studyGroup.SpecialtyId == specialty.Id)
								{
									@foreach (var faculty in ViewBag.faculties)
									{
										@if (specialty.FacultyId == faculty.Id)
										{
											@foreach (var institution in ViewBag.institutions)
											{
												@if (faculty.InstitutionId == institution.Id)
												{
													<option value=@studyGroup.Id>@studyGroup.Name (@studyGroup.Code) - @specialty.Name (@specialty.Code) - @faculty.Name (@faculty.Code) - @institution.Name</option>
												}
											}
										}
									}
								}
							}
						}
					}
					else
					{
						<option>Нет доступных учебных групп</option>
					}
				</select>
				<span asp-validation-for="StudySubgroupViewModel.StudyGroupId" />
			</div>
			<div class="form-group">
				<label asp-for="StudySubgroupViewModel.Name">Название <span>*</span></label>
				<input type="text" asp-for="StudySubgroupViewModel.Name" class="form-control" required />
				<span asp-validation-for="StudySubgroupViewModel.Name" />
			</div>
			<div class="form-group">
				<label asp-for="StudySubgroupViewModel.Code">Код</label>
				<input type="text" asp-for="StudySubgroupViewModel.Code" class="form-control" />
				<span asp-validation-for="StudySubgroupViewModel.Code" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-plus-circle mr-2"></i>Добавить подгруппу
				</button>
			</div>
		</div>
	</form>
</div>