@{
	ViewData["Title"] = "Моя группа";
    Layout = "~/Views/StudyGroup/_StudyGroupLayout.cshtml";
}

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Index">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
	</ul>
</div>
<div>
	@foreach (var subgroup in ViewBag.mySubgroups)
	{
		<div class="card mb-2">
			<div class="card-body overflow-auto">
				<h6 class="card-title">Подгруппа @subgroup.Name</h6>
				<table class="table table-sm table-hover mb-0">
					<thead>
						<tr class="text-align-top">
							<td scope="col">Ф.И.О.</td>
							<td scope="col">Дата рождения</td>
							<td scope="col">E-Mail</td>
						</tr>
					</thead>
					<tbody>
						@foreach (var student in ViewBag.myClassmates_Students)
						{
							{
								@if (subgroup.Id == student.StudySubgroupId)
								{
									@foreach (var user in ViewBag.myClassmates_Users)
									{
										@if (user.Id == student.UserId)
										{
											<tr>
												<td>@user.SecondName @user.FirstName @user.MiddleName</td>
												<td>@user.DateOfBirth.ToString("dd.MM.yyyy")</td>
												<td>@user.Email</td>
											</tr>
										}
									}
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	}
</div>