@{
	ViewData["Title"] = "Учебные группы";
    Layout = "~/Views/StudyGroup/_StudyGroupLayout.cshtml";
}

@model Dotnet.ViewModels.WebApp.StudyGroup.StudyGroupAndSubgroupViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Index">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="StudyGroup" asp-action="AddStudyGroup">
			<i class="bi bi-plus-circle mr-2"></i>Добавить группу или подгруппу
		</a>
	</ul>
</div>
<div>
	@foreach (var specialty in ViewBag.specialties)
	{
		@foreach (var faculty in ViewBag.faculties)
		{
			@if (specialty.FacultyId == faculty.Id)
			{
				@foreach (var institution in ViewBag.institutions)
				{
					@if (faculty.InstitutionId == institution.Id)
					{
						<div class="shadow-sm card p-3 mb-2 bg-white rounded">
							<h6>Специальность - @specialty.Name (@specialty.Code)</h6>
							<ul class="mb-0">
								<li>факультет: @faculty.Name (@faculty.Code),</li>
								<li>@institution.Name</li>
							</ul>
						</div>
						@foreach (var group in ViewBag.studyGroups)
						{
							@if (group.SpecialtyId == specialty.Id)
							{
								<div class="card mb-2">
									<div class="card-body overflow-auto">
										<h6 class="card-title">@group.Name</h6>
										<table class="table table-sm table-hover mb-0">
											<thead>
												<tr class="text-align-top">
													<td scope="col">ID</td>
													<td scope="col">Код группы</td>
													<td scope="col">Старт обучения</td>
													<td scope="col">Завершение обучения</td>
													<td scope="col">Форма обучения</td>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>@group.Id</td>
													<td>@group.Code</td>
													<td>@group.DateStart.ToString("dd.MM.yyyy")</td>
													<td>@group.DateEnd.ToString("dd.MM.yyyy")</td>
													@foreach (var formEducation in ViewBag.formsEducation)
													{
														@if (group.FormEducationId == formEducation.Id)
														{
															<td>@formEducation.Name</td>
														}
													}
												</tr>
											</tbody>
										</table>
										@if (User.IsInRole("admin"))
										{
											<a class="btn btn-sm btn-light btn-block" asp-action="EditStudyGroup" asp-route-studyGroupId="@group.Id">
												<i class="bi bi-pencil-square mr-2"></i>Редактировать
											</a>
										}
										@foreach (var subGroup in ViewBag.studySubgroups)
										{
											@if (subGroup.StudyGroupId == group.Id)
											{
												<table class="table table-sm table-hover mt-3 mb-0">											
													<thead>
														<tr class="text-align-top">
															<td scope="col">ID</td>
															<td scope="col">Название подгруппы</td>
															<td scope="col">Код подгруппы</td>
															<td scope="col">Действие</td>
														</tr>
													</thead>
													<tbody>
												@foreach (var subGroup2 in ViewBag.studySubgroups)
												{
													@if (group.Id == subGroup2.StudyGroupId)
													{	
														<tr>
															<td>@subGroup2.Id</td>
															<td>@subGroup2.Name</td>
															<td>@subGroup2.Code</td>
															<td class="pt-0 pb-0">
																<a class="nav-link m-0 p-0" style="line-height: 30px;" asp-action="EditStudySubgroup" asp-route-studySubgroupId="@subGroup2.Id">
																	Редактировать
																</a>
															</td>
														</tr>
													}
												}
													</tbody>
												</table>
												break;
											}
										}
									</div>
								</div>
							}
						}
					}	
				}
			}
		}
	}
</div>
