@{
    ViewData["Title"] = "Домашняя страница";
	Layout = "_Layout";
}

<div>
	<div class="container">
		@if (User.IsInRole("user"))
		{
			<div class="alert alert-info w-100" role="alert">
				<p class="mb-0">Ваша учётная запись в данный момент неактивна.</p>
			</div>
		}
		else 
		{
			<div class="mt-5">
				<div class="mt-0">
					<div class="me-round">
						@{string meChars = $"{ViewBag.me.SecondName[0]}{ViewBag.me.FirstName[0]}";}
						<p class="me-round-chars">@meChars</p>
					</div>
				</div>
				<div class="me-index">
					<p class="me-index-name">@ViewBag.me.SecondName @ViewBag.me.FirstName</p>
					<p class="me-index-aboutme">@ViewBag.aboutMe</p>
				</div>
			</div>
		}
		@if (User.IsInRole("admin"))
		{
			<div class="service-nav-panel">
				<a asp-area="" asp-controller="User" asp-action="Users" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-person-lines-fill" style="color: #D98880;"></i>
					</div>
					<div class="service-button-name">Пользователи</div>
				</a>
				<a asp-area="" asp-controller="Teacher" asp-action="Teachers" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-person-lines-fill" style="color: #F1948A;"></i>
					</div>
					<div class="service-button-name">Преподаватели</div>
				</a>
				<a asp-area="" asp-controller="Student" asp-action="Students" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-person-lines-fill" style="color: #C39BD3;"></i>
					</div>
					<div class="service-button-name">Студенты</div>
				</a>
				<a asp-area="" asp-controller="StudyGroup" asp-action="StudyGroups" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-people-fill" style="color: #BB8FCE;"></i>
					</div>
					<div class="service-button-name">Учебные группы</div>
				</a>
				<a asp-area="" asp-controller="Institution" asp-action="Institutions" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-book-fill" style="color: #7FB3D5;"></i>
					</div>
					<div class="service-button-name">Учебные заведения</div>
				</a>
				<a asp-area="" asp-controller="Faculty" asp-action="Faculties" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-shield-fill" style="color: #85C1E9;"></i>
					</div>
					<div class="service-button-name">Факультеты</div>
				</a>
				<a asp-area="" asp-controller="Specialty" asp-action="Specialties" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-puzzle-fill" style="color: #76D7C4;"></i>
					</div>
					<div class="service-button-name">Специальности</div>
				</a>
				<a asp-area="" asp-controller="FormEducation" asp-action="FormsEducation" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-briefcase-fill" style="color: #73C6B6;"></i>
					</div>
					<div class="service-button-name">Формы обучения</div>
				</a>
				<a asp-area="" asp-controller="StudySubject" asp-action="StudySubjects" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-pen-fill" style="color: #7DCEA0;"></i>
					</div>
					<div class="service-button-name">Учебные предметы</div>
				</a>
				<a asp-area="" asp-controller="TypeWork" asp-action="TypesWorks" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-pie-chart-fill" style="color: #82E0AA;"></i>
					</div>
					<div class="service-button-name">Виды работ</div>
				</a>
			</div>
		}
		else if (User.IsInRole("teacher"))
		{
			<div class="service-nav-panel">
				<a asp-area="" asp-controller="Work" asp-action="AddTask" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-plus-square-fill" style="color: #85929E;"></i>
					</div>
					<div class="service-button-name">Создать задание</div>
				</a>
				<a asp-area="" asp-controller="Work" asp-action="Tasks" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-list-task" style="color: #ABB2B9;"></i>
					</div>
					<div class="service-button-name">Задания</div>
				</a>
				<!--<a asp-area="" asp-controller="Work" asp-action="Attachments" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-file-earmark-fill"></i>
					</div>
					<div class="service-button-name">Файлы</div>
				</a>
				<a asp-area="" asp-controller="Student" asp-action="Students" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-people-fill"></i>
					</div>
					<div class="service-button-name">Студенты</div>
				</a>-->
			</div>
		}
		else if (User.IsInRole("student"))
		{
			<div class="service-nav-panel">
				<a asp-area="" asp-controller="Work" asp-action="MyTasks" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-list-task" style="color: #F0B27A;"></i>
					</div>
					<div class="service-button-name">Задания</div>
				</a>
				<a asp-area="" asp-controller="StudyGroup" asp-action="MyStudyGroup" class="service-button">
					<div class="service-button-icon">
						<i class="bi bi-people-fill" style="color: #E59866;"></i>
					</div>
					<div class="service-button-name">Моя группа</div>
				</a>
			</div>
			<div>
				<h1 class="display-4 mt-4 mb-5 pt-5 pb-5">Задания</h1>
				@if (ViewBag.myWorks.Count > 0)
				{
					@foreach (var work in ViewBag.myWorks)
					{
						<div class="card mb-2">
							<div class="card-body overflow-auto">
								<h6 class="card-title">									
									@if (work.IsObligation == true)
									{
										<span class="badge badge-dark">Обязательное</span>
									}
									@if (work.DateAdded.ToString("yyyy-MM-dd") == DateTime.Today.ToString("yyyy-MM-dd"))
									{
										<span class="badge badge-success mr-2">Сегодня, @work.DateAdded.ToString("HH:mm")</span>
									}
									else 
									{
										<span class="badge badge-light mr-2" style="text-transform: capitalize;">@work.DateAdded.ToString(@"dddd, dd MMMM \'yy HH:mm")</span>
									}
									@foreach (var subject in ViewBag.subjects)
									{
										@if (subject.Id == work.SubjectId)
										{
											<span class="badge badge-light mr-2">@subject.Name</span>
										}
									}
									<p class="mt-4 pb-2">
										@work.Description	
									</p>
								</h6>
								<table class="table table-sm table-hover mb-0">
									<thead>
										<tr class="text-align-top">
											<td scope="col">Дата сдачи</td>
											<td scope="col">Попытки</td>
											<td scope="col">Вид работы</td>
											<td scope="col">Вложения</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											@if (work.DateDeparture == new DateTime(0001, 01, 01, 01, 01, 01))
											{
												<td>Бессрочно</td>
											}
											else 
											{
												<td>@work.DateDeparture.ToString("dd.MM.yyyy HH:mm")</td>
											}
											<td>@work.CountAttempts</td>
											@foreach (var typeWorks in ViewBag.typesWorks)
											{
												@if (typeWorks.Id == work.TypeWorksId)
												{
													<td>@typeWorks.Name</td>
												}
											}
											<td>
												@foreach (var fileWork in ViewBag.fileWork)
												{
													@if (fileWork.WorkId == work.Id)
													{
														@foreach (var file in ViewBag.files)
														{
															@if (file.Id == fileWork.FileId)
															{
																@foreach (var file2 in ViewBag.files)
																{
																	<nav class="nav flex-column">
																		@if (file2.Id == fileWork.FileId)
																		{
																			<a href="Home/DownloadFile/?fileName=@file2.Name" class="nav-link p-0">@file.Pseudonym</a>
																		}
																	</nav>
																}
																break;
															}
														}
													}
												}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					}
					@if (ViewBag.isMuchWorks == true)
					{
						<a class="btn btn-light btn-block" asp-action="MyTasks" asp-controller="Work">
							<i class="bi bi-list-task mr-2"></i>Показать все задания
						</a>
					}
				}
				else
				{
					<div class="alert alert-info w-100" role="alert">
						<p class="mb-0">Для Вашей подгруппы нет заданий от преподавателей.</p>
					</div>
				}
			</div>
		}
	</div>
</div>


