@{
	ViewData["Title"] = "Редактировать задание";	
    Layout = "~/Views/Work/_WorkLayout.cshtml";
}

@model Dotnet.ViewModels.Work.EditWorkViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Index">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Work" asp-action="Tasks">
			<i class="bi bi-list-task mr-2"></i>Задания
		</a>
	</ul>
</div>
<div>
	<form asp-action="ApplyChangesTask" asp-controller="Work" asp-anti-forgery="true" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<input type="hidden" asp-for="Id" class="form-control" value=@ViewBag.work.Id />
			<div class="form-group">
				<label asp-for="Description">Описание <span>*</span></label>
				<input id="textarea__description" asp-for="Description" class="form-control" value=@ViewBag.work.Description required />
				<!--<textarea id="textarea__description" asp-for="Description" class="form-control" required>
				</textarea>
				@{
					byte[] bytes = System.Text.Encoding.ASCII.GetBytes(ViewBag.Work.Description);
					string newString = System.Text.Encoding.UTF8.GetString(bytes);
				}
				<script type="text/javascript">
					document.getElementById("textarea__description").value = "@newString";
				</script>-->
				<span asp-validation-for="Description" />
			</div>
			<div class="form-group">
				<label for="IsObligation">Обязательность</label>
				<div asp-for="" class="custom-control custom-checkbox mr-sm-2">
					@if (ViewBag.work.IsObligation == true)
					{
						<input class="custom-control-input" type="checkbox" id="IsObligation" asp-for="IsObligation" checked />
					}
					else
					{
						<input class="custom-control-input" type="checkbox" id="IsObligation" asp-for="IsObligation" />
					}
					<label class="custom-control-label" for="IsObligation">Обязательное к выполнению задание</label>
				</div>
				<span asp-validation-for="IsObligation" />
			</div>
			<div class="form-group">
				<label asp-for="DateDeparture">Дата сдачи (значение по умолчанию сделает задание бессрочным)</label>
				<input type="datetime-local" asp-for="DateDeparture" class="form-control" value=@ViewBag.work.DateDeparture.ToString("yyyy-MM-ddTHH:mm:ss") required />
				<span asp-validation-for="DateDeparture" />
			</div>
			<div class="form-group">
				<label asp-for="CountAttempts">Количество попыток</label>
				<input asp-for="CountAttempts" class="form-control" min="1" max="255" value=@ViewBag.work.CountAttempts required />
				<span asp-validation-for="CountAttempts" />
			</div>
			<div class="form-group">
				<label asp-for="SubjectId">Учебный предмет</label>
				<select class="custom-select" asp-for="SubjectId">
					@if (ViewBag.subjects.Count > 0)
					{
						@foreach (var subject in ViewBag.subjects)
						{
							@if (subject.Id == ViewBag.work.SubjectId)
							{
								<option value=@subject.Id selected>@subject.Name</option>
							}
							else 
							{
								<option value=@subject.Id>@subject.Name</option>
							}
						}
					}
					else
					{
						<option>Нет доступных учебных предметов</option>
					}
				</select>
				<span asp-validation-for="SubjectId" />
			</div>
			<div class="form-group">
				<label asp-for="TypeWorksId">Вид работы</label>
				<select class="custom-select" asp-for="TypeWorksId">
					@if (ViewBag.typesWorks.Count > 0)
					{
						@foreach (var typeWorks in ViewBag.typesWorks)
						{
							@if (typeWorks.Id == ViewBag.work.TypeWorksId)
							{
								<option value=@typeWorks.Id selected>@typeWorks.Name</option>
							}
							else
							{
								<option value=@typeWorks.Id>@typeWorks.Name</option>
							}
						}
					}
					else
					{
						<option>Нет доступных видов работ.</option>
					}
				</select>
				<span asp-validation-for="TypeWorksId" />
			</div>			
			<div class="form-group">	
				<label asp-for="File">Вложения</label>
				@if (ViewBag.pickFile != null)
				{
					<p class="mb-0">В данный момент работа содержит вложенный файл.</p>
					<p class="mb-0">Выбор и отправка нового файла приведёт к откреплению предыдущего.</p>
					<div class="mt-2">
						<a href="DownloadFile/?fileName=@ViewBag.pickFile.Name" class="btn btn-outline-primary mb-2">
							<i class="bi bi-cloud-download mr-2"></i>Скачать @ViewBag.pickFile.Pseudonym
						</a>
					</div>
					<div class="mb-2">
						<a href="DeleteFile/?fileId=@ViewBag.pickFile.Id" class="btn btn-outline-danger">
							<i class="bi bi-trash mr-2"></i>Удалить прикреплённый файл
						</a>
					</div>
				}
				<input type="file" asp-for="File" class="d-flex" />
				<span asp-validation-for="File" />
			</div>
			<div class="shadow-sm card p-3 mb-2 bg-white rounded">					
				<h6>Получатели</h6>
				<p class="mb-0">Укажите учебные подгруппы, для которых будет создано задание. Чтобы создать задание для всей группы студентов, укажите все включённые в неё подгруппы</p>
			</div>
			<div class="form-group">
				@if (ViewBag.studySubgroups.Count > 0)
				{
					@foreach (var institution in ViewBag.institutions)
					{
						@foreach (var faculty in ViewBag.faculties)
						{
							@if (faculty.InstitutionId == institution.Id)
							{
								@foreach (var specialty in ViewBag.specialties)
								{
									@if (specialty.FacultyId == faculty.Id)
									{
										<div class="shadow-sm card p-3 mb-2 bg-white rounded">
											<h6>Специальность - @specialty.Name (@specialty.Code)</h6>
											<ul class="mb-0">
												<li>факультет: @faculty.Name (@faculty.Code),</li>
												<li>@institution.Name</li>
											</ul>
										</div>
										@foreach (var group in ViewBag.studyGroups)
										{
											@if (group.SpecialtyId == specialty.Id)
											{
												@foreach (var subgroup in ViewBag.studySubgroups)
												{
													@if (subgroup.StudyGroupId == group.Id)
													{
														<div asp-for="" class="custom-control custom-checkbox mr-sm-2 mb-2">
															@if (ViewBag.studySubgroupChecked.Contains(subgroup.Id))
															{
																<input class="custom-control-input" type="checkbox" id=@subgroup.Id name="StudySubgroupsId[]" value=@subgroup.Id checked>
															}
															else
															{
																<input class="custom-control-input" type="checkbox" id=@subgroup.Id name="StudySubgroupsId[]" value=@subgroup.Id>
															}
															<label class="custom-control-label" for=@subgroup.Id>@group.Name (@group.Code) - подгруппа @subgroup.Name (@subgroup.Code)</label>
														</div>
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				else 
				{
					<p>Нет доступных учебных подгрупп.</p>
				}
				<span asp-validation-for="CountAttempts" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-save mr-2"></i>Сохранить изменения
				</button>
			</div>
		</div>
	</form>	
</div>