@{
	ViewData["Title"] = "Задания";	
    Layout = "~/Views/Work/_WorkLayout.cshtml";
}

@model Dotnet.ViewModels.Work.WorkViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Work" asp-action="AddTask">
			<i class="bi bi-plus-circle mr-2"></i>Добавить задание
		</a>
	</ul>
</div>
<div>
	@foreach (var work in ViewBag.works)
	{
		<div class="card mb-2">
			<div class="card-body overflow-auto">
				<h6 class="card-title">
					@if (work.IsObligation == true)
					{
						<span class="badge badge-dark">Обязательное</span>
					}
					@foreach (var subject in ViewBag.subjects)
					{
						@if (subject.Id == work.SubjectId)
						{
							<span class="badge badge-primary mr-2">@subject.Name</span>
						}
					}
					@work.Description
				</h6>
				<table class="table table-hover mb-0">
					<thead>
						<tr class="text-align-top">
							<td scope="col">ID</td>
							<td scope="col">Дата добавления</td>
							<td scope="col">Дата сдачи</td>
							<td scope="col">Попытки</td>
							<td scope="col">Вид работы</td>
							<td scope="col">Вложения</td>
							<td scope="col"></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@work.Id</td>
							<td>@work.DateAdded</td>
							@if (work.DateDeparture == new DateTime(0001, 01, 01, 01, 01, 01))
							{
								<td>Бессрочно</td>
							}
							else 
							{
								<td>@work.DateDeparture</td>
							}
							<td>@work.CountAttempts</td>
							@foreach (var typeWorks in ViewBag.typesWorks)
							{
								@if (typeWorks.Id == work.TypeWorksId)
								{
									<td>@typeWorks.Name</td>
								}
							}
							<td>
								@foreach (var fileWork in ViewBag.fileWork)
								{
									@if (fileWork.WorkId == work.Id)
									{
										@foreach (var file in ViewBag.files)
										{
											@if (file.Id == fileWork.FileId)
											{
												@foreach (var file2 in ViewBag.files)
												{
													<nav class="nav flex-column">
														@if (file2.Id == fileWork.FileId)
														{
															<a href="DownloadFile/?fileName=@file2.Name" class="nav-link p-0">@file2.Pseudonym</a>
														}
													</nav>
												}
												break;
											}
										}
									}
								}
							</td>
						</tr>
					</tbody>
				</table>
				@if (User.IsInRole("teacher"))
				{
					<div class="d-flex flex-row">
						<a class="btn btn-light flex-grow-1 mr-2" asp-action="EditTask" asp-route-taskId=@work.Id>
							<i class="bi bi-pencil-square mr-2"></i>Редактировать
						</a>		
						<a class="btn btn-light" asp-action="DeleteTask" asp-route-taskId=@work.Id>
							<span style="color: red;"><i class="bi bi-trash mr-2"></i>Удалить задание</span>
						</a>	
					</div>	
				}
				<table class="table table-hover mt-3 mb-0">											
					<thead>
						<tr class="text-align-top">
							<td scope="col">ID</td>
							<td scope="col">Подгруппа</td>
							<td scope="col">Дополнительно</td>
						</tr>
					</thead>
					<tbody>
						@foreach (var row in ViewBag.studySubgroupWork)
						{
							@if (row.WorkId == work.Id)
							{
								@foreach (var subgroup in ViewBag.studySubgroups)
								{
									@if (subgroup.Id == row.StudySubgroupId)
									{
										@foreach (var group in ViewBag.studyGroups)
										{
											@if (group.Id == subgroup.StudyGroupId)
											{
												@foreach (var specialty in ViewBag.specialties)
												{
													@if (specialty.Id == group.SpecialtyId)
													{
														@foreach (var faclty in ViewBag.faculties)
														{
															@if (faclty.Id == specialty.FacultyId)
															{
																@foreach (var institution in ViewBag.institutions)
																{
																	@if (institution.Id == faclty.InstitutionId)
																	{
																		<tr>
																			<td>@subgroup.Id</td>
																			<td>@group.Name (@group.Code) - @subgroup.Name (@subgroup.Code)</td>
																			<td>@specialty.Name - @faclty.Name - @institution.Name</td>
																		</tr>
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	}
</div>