@{
	ViewData["Title"] = "Редакировать студента";	
    Layout = "~/Views/Student/_StudentLayout.cshtml";
}

@model Dotnet.ViewModels.WebApp.Student.EditStudentViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Student" asp-action="Students">
			<i class="bi bi-person-badge-fill mr-2"></i>Студенты
		</a>
	</ul>
</div>
<div>
	<form asp-action="ApplyChangesStudent" asp-controller="Student" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<input type="hidden" asp-for="Id" class="form-control" value=@ViewBag.studentId />
			<div class="form-group">
				<label asp-for="UserId">Пользователь <span>*</span></label>
				<select asp-for="UserId" class="form-control" disabled required>
					@if (ViewBag.users.Count > 0)
					{
						@foreach (var user in ViewBag.users)
						{
							@if (user.Id == ViewBag.userId)
							{
								<option value=@user.Id selected>@user.Login - @user.FirstName @user.SecondName - @user.Email</option>
							}
							else 
							{
								<option value=@user.Id>@user.Login - @user.FirstName @user.SecondName - @user.Email</option>
							}
						}
					}
					else
					{
						<option>Нет доступных пользователей</option>	
					}
				</select>
				<span asp-validation-for="UserId" />
			</div>
			<div class="form-group">
				<label asp-for="StudySubgroupId">Учебная подгруппа *</label>
				<select asp-for="StudySubgroupId" class="form-control" required>
					@if (ViewBag.studySubgroups.Count > 0)
					{
						@foreach (var institution in ViewBag.institutions)
						{
							@foreach (var faculty in ViewBag.faculties)
							{
								@if (faculty.InstitutionId == institution.Id)
								{
									@foreach (var specialty in ViewBag.specialties)
									{
										@if (specialty.FacultyId == faculty.Id)
										{
											@foreach (var group in ViewBag.studyGroups)
											{
												@if (group.SpecialtyId == specialty.Id)
												{
													@foreach (var subgroup in ViewBag.studySubgroups)
													{
														@if (subgroup.StudyGroupId == group.Id)
														{
															@if (ViewBag.student.StudySubgroupId == subgroup.Id)
															{
																<option value=@subgroup.Id selected>@group.Name (@group.Code) - @subgroup.Name (@subgroup.Code) - @specialty.Name (@specialty.Code) - @faculty.Name (@faculty.Code) - @institution.Name</option>
															}
															else
															{
																<option value=@subgroup.Id>@group.Name (@group.Code) - @subgroup.Name (@subgroup.Code) - @specialty.Name (@specialty.Code) - @faculty.Name (@faculty.Code) - @institution.Name</option>
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				</select>
				<span asp-validation-for="StudySubgroupId" />
			</div>
			<div class="form-group">
				<label asp-for="IsLearns">Статус</label>
				<div asp-for="" class="custom-control custom-checkbox mr-sm-2">
					@if (ViewBag.student.IsLearns == true)
					{
						<input class="custom-control-input" type="checkbox" id="IsLearns" asp-for="IsLearns" checked />
					}
					else 
					{
						<input class="custom-control-input" type="checkbox" id="IsLearns" asp-for="IsLearns" />
					}
					<label class="custom-control-label" for="IsLearns">Обучающийся</label>
				</div>
				<span asp-validation-for="IsLearns" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-save mr-2"></i>Сохранить изменения
				</button>
			</div>
		</div>
	</form>
</div>